.board {
    width: 600px;
    height: 600px;
    margin: 10px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    box-shadow: 0 10px 50px #e2e2e2;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    background: #eee;
}

.cell {
    background-color: #fff;
    border-radius: 5px;
}

.cell:hover {
    background-color: rgb(235, 244, 255);
}